.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.word-counter {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase the width as needed */
  text-align: center;
  max-width: 90%; /* To keep the box responsive */
}

h1 {
  font-weight: bold;
  }

textarea {
  width: 100%;
  min-height: 150px;
  padding: 8px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: both; /* Make the textarea resizable by dragging */
  outline: none;
  flex-grow: 1;
}

p {
  font-weight: bold;
}
